body {
  font-family: 'Cambria', 'Times New Roman';
  background-color: #b9e8d3;
}

header{
    background-color: #0E4D92;
    text-align: center;
    padding: 20px;
}


nav{
    background-color: #bbe2ed;
    padding : 10px;
    margin :auto;
    text-align: center;
}

.box{
    background-color: #F5F5F5;
    width : 70%;
    border: 1px solid black;
    padding: 30px;
    margin: auto;
}

.container {
      width: 70%;
      margin: auto;
      padding: 20px;
      font-size: large;
      border: 1px solid black;
      background-color: #fff;
      font-family: cambria;
    }

.keys{
    width: 70%;
    border: 1px solid black;
    padding: 40px;
    background-color: #fff;
    margin: auto;
}

footer {
    background-color: #fff;
    color:black ;
    text-align: center;
    font-size:large;
    padding: 10px;
}